<!DOCTYPE html>
<html>
    <head>
        <title>WebApp0.1</title>
    <!-- This is a comment, by the way -->
        <style>
            h1 {
                text-align: center;
            }
            #banner {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
            #container{
                max-width: 720px;
                margin: 0 auto 0 auto;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>Web App Dev using Python</h1>
            <img id="banner" src="https://py-project--neyraj1011.repl.co/static/banner.jpg" >
            <h2>About</h2>
            <p>Developement and testing of web apps using Python and Flask</p>
            <button>Contact for More</button>
        </div>
    </body>
</html>